/* Generic css */

html, body {
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 400px;
    color: white;
}

h1 {
    text-decoration: underline;
    margin: 0.3em 0;
}


p, h2, h6 {
    margin: 0.3em 0;
}

a {
    text-decoration: none;
}

head {
    display: none;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



/* Main container */

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url("images/background.svg");
    background-position: center;
    background-size: cover;
}

/* 1. App Bar */

.appbar {
    flex-shrink: 0;
    box-sizing: border-box;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6px;
    /*background: darkgray;*/
}


.appbar-divider {
    flex-grow: 8;
    text-align: center;
}

.appbar-link {
    flex-grow: 1;
    text-align: center;
}

.appbar-link:hover {
    text-decoration: underline;
}


/* 2. Title */

.title {
    text-align: center;
}

.description {
    /*-webkit-text-stroke-width: 0.07em;*/
    /*-webkit-text-stroke-color: #050a11;*/
    -webkit-text-fill-color: white;
    font-size: 1.3em;
}

/* 3. Visualization*/

.viz {
    flex-grow: 1;
    /*padding: 0 5%;*/
}

#mapViz {
    height: 100%;
    width: 100%;
}

/* 4. Footer */

.footer {
    height: 30px;
    padding: 6px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
}





